* {
    margin: 0;
    padding: 0;
  }

  
/* sobre a empresa */
.sobre {
    /* border: 1px solid red; */
    margin-top: 145px;
    background-color: var(--white-background-color);
    border-radius: 8px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }

  .container-img{
    display: flex;
    justify-content: center;
  }
  
  .sobre img {
    margin-left: 30px;
    height: 400px;
    padding: 40px;
  }
  
  .sobre h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 30px;
  }
  