@media (max-width: 480px) {
  .roda {
    flex-direction: column;
    width: auto;
  }

  .roda h4 {
    font-size: 15px;
  }

  .roda li {
    font-size: 15px;
  }

  .container-carrinho {
    width: 100%;
}

  .produto-carrinho{
   flex-direction: column;
   height: 600px;
   padding: 10px;
   margin-right: 10rem;
  }

  .total{
    height: auto;
    margin-left: 30px;
  }

  .total h2{
    font-size: 15px;
  }

  .d-flex{
    flex-direction: column;
  }

  .botao-total{
    width: 70px;
    height: 40px;
    margin-left: 60px;
    font-size: 10px;
  }
  
}
